body {
  font-family: Monospace;
  color: crimson;
  background: skyblue; }

.box {
  width: 80%;
  height: 400px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 30px auto;
  text-align: center;
  font-size: 2em; }
  .box:first-child {
    background: black; }
